<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h3>Login</h3>
<br>
<div>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class = flashes>
      {% for message in messages %}
        {{ message }}
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</div>
<div>
      <form method = 'POST' action="/login">
        <input type="email" name="email"
               placeholder="Your Email" autofocus="">
        <input type ='password' name="password"
               placeholder="Your password">
          <label class = 'checkbox' name="rememberMe">
            Remember me
          </label>
        <button class = 'button'>Login</button>
      </form>
</div>
</body>
</html>